$gray500-color: #7B7B7B;
$gray700-color: #565656;
$black-color: #000;
$font-title: "Red Hat Display";
$font-text: "Lato";

@mixin fzlh ($fz,$lh) {
	font-size: ($fz / 16) * 1rem;
	line-height: ($lh / 16) * 1rem;
}


*,*::after,*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.page-wrapper {
	min-height: 100dvh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	main {
		flex-grow: 1;
	}
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	object-fit: cover;
	vertical-align: top;
	width: 100%;
	height: 100%;
}

.container {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 35px;
}

section .container {
	padding-top: 90px;
}

.section-text {
	@include fzlh(16,26.56);
	font-family: $font-text;
	font-weight: 400;
	color: $gray700-color;
	letter-spacing: 0.88px;
	
}

.tags-style {
	@include fzlh(16,26.56);
	font-family: $font-text;
	font-weight: 400;
	color: $gray500-color;
	letter-spacing: 1.8px;
}

header .container {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.logo-wrap {
		height: 100%;
		flex-basis: 48%;
		a {
			height: 100%;
			display: flex;
			align-items: center;
		}
		img {
			height: 12px;
			width: 142px;
		}
		
	}
	.nav-wrap {
		flex: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 80px;
		padding-left: 8px;
		nav {
			flex: 1;
		}
		& ul {

			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: clamp(15px, 1vw, 42px)
			
		}
		a {
			position: relative;
			text-align: center;
			@include fzlh(14,17);
			color: $black-color;
			font-family: $font-text;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 3.5px;
			padding-bottom: 2px;
		}
		a::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 70%;
			transform: translateX(-50%) scaleX(0);
			height: 2px;
			background-color: $black-color;
			transition: all .3s ease;
		}
		a:hover::after {
			transform:translateX(-50%) scaleX(1);
		}
		button {
			width: 20px;
			height: 20px;
			border: none;
			background-color: #FFF;
			cursor: pointer;
			svg {
				width: 17px;
				height: 17px;
			}
		}
	}
}


.hero {
	background: url("./../images/bg-image.jpg") center center/cover no-repeat;
	aspect-ratio: 2.4;
	padding-top: 100px;
	h1 {
		@include fzlh (48,64);
		max-width: 770px;
		font-family: $font-title;
		font-weight: 600;
		letter-spacing: 2.4px;

	}
}


.blog-container {
	h2 {
		@include fzlh(48,64);
		font-family: $font-title;
		font-weight: 400;
		letter-spacing: 2.4px;
		margin-bottom: 50px;
	}
	

	.article-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&:nth-child(odd) {
			flex-direction: row-reverse;
		}
		.article-img {
			flex: 1 47.5%;
		}
		.article-content {
			flex:1 50%;
			padding: 79px 0 85px 30px;
			.tags {
				@extend .tags-style;
				margin-bottom: 25px;
			}
			.article-title {
				@include fzlh(23,38.18);
				font-family: $font-title;
				font-weight: 500;
				color: $black-color;
				margin-bottom: 11px;
				max-width: 369px;
				letter-spacing: 2.4px;
			}
			
			.date-wrap {
				margin-bottom: 50px;
			}
			time {
				@extend .tags-style;
			}
			.article-text {
				@extend .section-text;
				max-width: 448px;
			}

		}
		
	}
	.article-item:first-child {
		margin-bottom: 50px;
	}

	.article-item:last-child .article-content {
		padding: 0 0 15px 120px;
	}
	
}

.arrow-svg	{
	margin-left: 17px;
	width: 30px;
	height: 12px;
}


.title-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 42px;
	h2 {
		@include fzlh(28,46.48);
		font-family: $font-title;
		font-weight: 600;
		color: $black-color;
		letter-spacing: 2.8px;
	}
	span {
		@include fzlh (16,26.56);
		font-family: $font-text;
		font-weight: 400;
		letter-spacing: 1.6px;
		color: $gray500-color;
		&+.arrow-svg {
			margin-left: 8px;
		}
	}
	
}


.posts-list {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	.posts-card {
		flex: 1;
		.posts-card-img {
			margin-bottom: 25px;
		}
	}
}
.tags-wrap {
	display: flex;
	justify-content: space-between;
	color: $gray500-color;
	@include fzlh(12,19.92);
	font-family: $font-text;
	font-weight: 400;
	margin-bottom: 25px;
	letter-spacing: 1.2px;
}

.posts-card-content {
	h3 {
		@include fzlh(22,36.52);
		font-family: $font-title;
		font-weight: 600;
		letter-spacing: 2.2px;
		color: $black-color;
		margin-bottom: 18px;
	}
	p {
		@extend .section-text;
	}
}

.popular-container.popular-container {
	padding-top: 113px;
}

.popular-list {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	margin-bottom: 53px;
	.popular-item {
		flex: 1 50%;
	}
	.tags-wrap {
		margin-bottom: 21px;
	}
}

.popular-item-img {
	margin-bottom: 22px;
}

.popular-item-content {
	h3 {
		@include fzlh(24,39.84);
		font-family: $font-title;
		font-weight: 500;
		color: $black-color;
		letter-spacing: 2.58px;
		margin-bottom: 17px;
	}
	p {
		@extend .section-text;
	}
}

.btn-wrap {
	text-align: center;
	button {
		width: 180px;
		height: 46px;
		background-color: $gray700-color;
		color: #FFF;
		border: none;
		@include fzlh(16,26.56);
		font-family: $font-text;
		font-weight: 700;
		letter-spacing: 1.6px;
	}
}

.info-container {
	display: flex;
	justify-content: space-between;
	gap: 230px;
	padding-bottom: 90px;
	>div {
		flex: 1 50%;
	}
}

.info-title-wrap h2 {
	@include fzlh(23,38.18);
	font-family: $font-title;
	font-weight: 400;
	color: $black-color;
	letter-spacing: 2.3px;
	margin-bottom: 15px;
	&+svg.arrow-svg {
		margin-left: 0;
	}
	.line-wrap {
		display: block;
	}
}

.info-text-wrap {
	p {
		@include fzlh(19,32);
		font-family: $font-text;
		color: $gray700-color;
		letter-spacing: 0.95px;
	}
	p:first-of-type {
		margin-bottom: 30px;
	}
}


footer {
	.container {
		padding-top: 70px;
	}
	background-color: #F4F4F4;
	.footer-wrapper {
		display: flex;
		justify-content: space-between;
		gap: 400px;
		>div {
			flex: 1 50%;
		}
	}
	.footer-content-wrap {
		h2 {
			@include fzlh(48,64);
			font-family: $font-title;
			font-weight: 400;
			letter-spacing: 2.4px;
			color: $black-color;
			margin-bottom: 30px;
		}
		a {
			display: block;
			@include fzlh(16,26.56);
			font-family: $font-text;
			font-weight: 400;
			letter-spacing: 1.6px;
			color: $black-color;
		}
		a:first-of-type {
			margin-bottom: 15px;
		}
	}
}

.footer-social-wrap {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.social-list {
	display: flex;
	gap: 23px;
	align-items: center;
	.social-item {
		border: 1px solid $gray700-color;
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s ease;
		&:hover {
			background-color: $gray700-color;
			.social-svg {
				color: #FFF;
			}
		}
		.social-svg {
			width: 24px;
			height: 24px;
			color: $gray700-color;
		}
	}
	.social-item:nth-of-type(2) .social-svg {
			width: 13px;
		}
	.social-item:nth-of-type(3) .social-svg {
			width: 29px;
		}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
	background-color: rgba(0,0,0,0.7);
	z-index: 99;
}

.mobile-panel {
	position: fixed;
	width: 100%;
	min-height: 300px;
	background-color: #FFF;
	top: 60px;
	left: 0;
	transform: translateY(-120%);
	z-index: 100;
	transition: all .4s ease;
	&.open {
		transform: translateY(0);
	}
	nav {
		padding: 40px;
		ul {
			display: flex;
			flex-direction: column;
			li{
				width: 100%;
				height: 50px;
				border-top: 1px solid $black-color;
				// &:not(:last-child) {
				// 	border-top: 1px solid $black-color;
				// }
			}
			a {
				display: inline-block;
				height: 100%;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: end;
				position: relative;
				@include fzlh(14,17);
				color: $black-color;
				font-family: $font-text;
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: 3.5px;
			}
			// a::after {
			// content: "";
			// 	position: absolute;
			// 	bottom: 50%;
			// 	left: 50%;
			// 	width: 70%;
			// 	transform: translateX(-50%) scaleX(0);
			// 	height: 2px;
			// 	background-color: $black-color;
			// 	transition: all .3s ease;
			// }
			// a:hover::after {
			// 	transform:translateX(-50%) scaleX(1);
			// }
		}
	}
}


// MEDIA request=============================================


@media screen and (max-width: 1100px) {
	header .container {
		height: 60px;
		.logo-wrap {
			img {
				width: 145px;
				height: auto;
			}
		}
	}
	.hero {
		background: url("./../images/bg-image.jpg") center center/cover no-repeat;
		aspect-ratio: 2.4;
		padding-top: 30px;
		h1 {
			@include fzlh (36,50);
			max-width: 650px;
			font-family: $font-title;
			font-weight: 600;
			letter-spacing: 2.5px;

		}
	}
	section .container {
	padding-top: 70px;
}
}

@media screen and (max-width: 544px) {
		.hero {
			background: url("./../images/bg-image-mobile.jpg") center center/cover no-repeat;
			aspect-ratio: 0.64;
		}
}


.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
	background-color: rgba(0,0,0,0.7);
	z-index: 99;
}

.mobile-panel {

}