* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans",sans-serif;
	color:#070707;
}

a {
	text-decoration: none;
}

.inline {
	display: inline-block;
}

.container {
	width: min(970px, 80%);
	margin: 0 auto;
}

.bggrey {
	background-color: #E5E5E5;
}

header {
	border-bottom: #828282 1px solid;
}

.container-header {
	width: 70%;
	margin: 0 auto;
	padding: 0 auto;
	height: 80px;
	
}


.nav-list__element {
	text-align: center;
	margin-left: 2.5rem;
	margin: 25px 0 25px 40px;
}

.nav-list__link {
	letter-spacing: 2%;
	font-size: 1.125rem;	
	color: #828282;
}

.nav-list__link:hover {
	color: #070707
}
/* Hero section style START */

.hero {
	width: 100vw;
}

.hero__title {
	font-size: 3rem;
	margin-top: 12px;
}

.hero img {
	margin-top: 50px;
}

/* Hero section style END */

/* About section style START */

.about-container {
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 100px;
	width: 50%;
	text-align: center;
}

.about__title {
	font-size: 2.125rem;
}

.about__text {
	font-size: 1.125rem;
	width: 90%;
	margin: 0 auto;
}

.about__text:nth-of-type(1) {
	margin-top: 50px;
}

.about__text:not(:first-of-type) {
	margin-top: 30px;
}

