* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans",sans-serif;
	color:#070707;
}

a {
	text-decoration: none;
	color: inherit;
}

.inline {
	display: inline-block;
}

h2 {
	font-size: 2.125rem;
}


.container {
	width: min(970px, 80%);
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}

.hero_container,
.header-container {
	margin: 0 auto;
	width: min(970px, 80%);
}

.bggrey {
	background-color: #E5E5E5;
}

.header-container {
	border-bottom: #828282 1px solid;
}

.nav-list {
	margin: 0 auto;
	width: 70%;
	height: 80px;
}


.nav-list__element {
	text-align: center;
	margin-left: 2.5rem;
	margin: 25px 0 25px 40px;
}

.nav-list__link {
	letter-spacing: 2%;
	font-size: 1.125rem;	
	color: #828282;
}

.nav-list__link:hover {
	color: #070707;
	text-shadow: 0px 0px 1.5px #070707;
}
/* Hero section style START */

.hero {
	width: 100vw;
}



.hero__title {
	font-size: 3rem;
	margin-top: 12px;
}

.hero img {
	margin-top: 50px;
}

/* Hero section style END */

/* About section style START */

.about-container {
	width: 50%;
}

.about__title {
	font-size: 2.125rem;
}

.about__text{
	font-size: 1.125rem;
	width: 90%;
	margin: 0 auto;
}

.about__text:nth-of-type(1) {
	margin-top: 50px;
}

.about__text:not(:first-of-type) {
	margin-top: 30px;
}

/* Skills section style START */


.skills__title-text {
	font-size: 1.125rem;
	margin-top: 20px;
}

.cards {
	margin-top: 50px;
}

.cards__item:not(:last-child) {
	margin-right: 97px;
}

.cards__text {
	font-size: 0.875rem;
	font-weight: bold;
	color: #828282;
	margin: 25px auto 0;
	width: 70%;
	
}

.cards__star-container {
	margin-top: 60px;
}

.cards__star-container:last-child {
	margin-top: 70px;
}

.cards__item:last-of-type .cards__img {
	padding-bottom: 16px;
}
/* Skills section style END */

/* Portfolio section style START*/

.portfolio__item {
	margin-top: 70px;
	&:first-child {
		margin-top: 50px;
	}
}

.portfolio__text {
	margin-top: 40px;
	font-size: 1.125rem;
	text-decoration: underline;
}

/* Portfolio section style END*/

/* Footer style START */

.footer__text {
	margin: 25px auto 0;
	font-size: 1.125rem;
	width: 280px;
	
}

.footer__button-container {
	margin-top: 60px;
}

.footer__list-container {
	margin-top: 30px;
}

.footer__button {
	display: inline-block;
	border: 1px solid #070707;
	border-radius: 22px;
	background-color: #070707;
	text-decoration: none;
	color: #E5E5E5;
	width: 180px;
	height: 44px;
	line-height: 44px;
	&:hover {
		color: #070707;
		font-weight: 500;
		background-color: #E5E5E5;
		transition: all 0.2s ease-in-out;
	}
}

.footer__list-item:not(:last-child) {
	margin-right: 50px;
}

.footer__list-item:hover {
	scale: 1.25;
}

footer p:last-child {
	margin: 60px auto 0;
	color:#828282;
	font-size: 0.825rem;
	width: 200px;
}
/* Footer style END */