/* constants */

$page-color: #161926;
$btn-color-light: #53f3cd;
$btn-color-medium: #02e0ab;
$text-color: #ffffff;
$text-accent-color: #689ff2;
$line-section-color: #85bbb1;

$font-text: "Lato";
$font-title: "Playfair Display";

@mixin fzlh($px, $lh) {
	font-size: ($px/16) * 1rem;
	line-height: ($lh/16) * 1rem;
}

// ===============Сommon styles====================
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
}

a {
	text-decoration: none;
}

button {
	background: transparent;
    border: none;
	cursor: pointer;
}

body {
	font-family: $font-text;
	@include fzlh(16, 28);
	color: #000;
	background-color: $page-color;
	background-image: url(./../images/First-Screen-Bg-Image.webp);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.accent-word {
	color: $text-accent-color;
	font-style: italic;
}

.page-wrapper {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	main {
		flex-grow: 1;
	}
}

.container {
	width: min(90%, 1170px);
	margin: 0 auto;
}

.btn-small {
	position: relative;
	display: inline-block;
	color: $btn-color-light;
	text-transform: uppercase;
	font-family: $font-text;
	font-weight: 700;
	@include fzlh(20, 20);
	letter-spacing: 1.6px;
	z-index: 2;
	transition: all 0.3s ease;
	&::after {
		content: "";
		display: inline-block;
		position: absolute;
		width: 100%;
		height: 13px;
		bottom: -4px;
		right: -9px;
		background-color: color-mix(in srgb, $btn-color-light, transparent 70%);
		z-index: -1;
	}
	&:hover {
		color: $btn-color-medium;
		&::after {
			background-color: color-mix(in srgb, $btn-color-medium, transparent 70%);
		}
	}
}

// =====================HEADER STYLE====================

header {
	width: 100%;
	position: sticky;
	left: 0;
	top: 0;
	height: 80px;
	background-color: rgba($color: $text-color, $alpha: 0.1);
	backdrop-filter: blur(10px);
	z-index: 10;
	.container {
		height: 100%;
		display: flex;
		align-items: center;
		nav {
			flex-grow: 1;
		}
		ul {
			display: flex;
			justify-content: end;
			gap: 29px;
			li {
				a {
					position: relative;
					width: 100%;
					color: $text-color;
					letter-spacing: 1.12px;
					@include fzlh(14, 24);
					font-family: $font-text;
					font-weight: 400;
					&::after {
						content: "";
						display: inline-block;
						width: 100%;
						height: 3px;
						bottom: -10px;
						left: 0;
						position: absolute;
						background-color: color-mix(
							in srgb,
							$btn-color-light,
							transparent 30%
						);
						transform: translateX(-50%) scaleX(0);
						transition: all 0.4s ease;
					}
				}
				&:hover > a::after {
					transform: translateX(0%) scaleX(1);
				}
			}
		}
	}
}

.logo-wrap {
	width: 110px;
	height: 32px;
	cursor: pointer;
}

// =================================FIRST SECTION STYLE=========================

.first-section {
	h1 {
		font-family: $font-title;
		font-weight: 400;
		@include fzlh(44, 52);
		color: $text-color;
		max-width: 523px;
		margin-top: 150px;
		margin-bottom: 20px;
	}
	.first-section-text {
		@include fzlh(18, 26);
		font-weight: 300;
		color: rgba($color: $text-color, $alpha: 0.8);
		max-width: 439px;
		margin-bottom: 48px;
	}
	.btn-small {
		margin-bottom: 150px;
	}
}

//==============================INFO SECTION STYLE============================


.info-section {
	padding: 4px 0;
	.info-grid {
		display: grid;
		grid-template-columns: repeat(12,1fr);
		align-items: center;
	}
	.info-image {
		grid-column: 1/7;
		grid-row: 1;
		height: 100%;
	}
	.info-content-card {
		height: calc(100% - 90px);
		grid-column: 5/13;
		grid-row: 1;
		background-color: rgba($color: $page-color, $alpha: 0.9);
		padding: 45px 0;
		display: flex;
		margin-left: 10px;
	}
	.info-stats {
		flex:0 0 50%;
		display: flex;
		flex-direction: column;
		// align-items: center;
		
		.stats-item {
			margin-bottom: 38px;
			&:last-child {
				margin-bottom: 0;
			}
			&:first-child {
				padding-left: 100px;
			}
			&:nth-child(2) {
				padding-left: 55px;
				.stats-item-text {
					margin-left: 44px
				}
				.stats-item-line {
					margin-left: 80px;
				}
			}
			&:nth-child(3) {

			}
			&-value {
				@include fzlh(68,72);
				font-family: $font-title;
				font-weight: 400;
				color: $text-color;
				display: inline-flex;
				align-items: flex-start;
				gap: 11px;
				.dollar-symbol {
					@include fzlh(40, 50);
					padding-top: 23px
            	}
			}
			&-text {
            @include fzlh(18, 26);
            font-weight: 300;
            color: rgba($text-color, 0.6);
            margin-top: 10px;
			margin-left: 5px;
			}

			&-line {
				display: block;
				width: 100px;
				height: 3px;
				background-color: $line-section-color;
				margin: 40px 0 0 35px;
			}
		}
	}
	.info-desc {
	flex: 1;
	display: flex;
	flex-direction: column;
		p {
			@include fzlh(18, 28);
			font-weight: 300;
			color: rgba($text-color, 0.7);
			margin-bottom: 30px;
			&:last-of-type { margin-bottom: 40px; }
		}
	}
}

// ===========================BENEFITS SECTION STYLE==========================

.benefits-section .container {
	padding-top: 120px;
}
.benefits-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 30px;
	.benefits-card {
		padding: 50px 30px 20px;
		color: $text-color;
		border-top: 1px solid #515773;
		margin-bottom: 60px;
	}
	.card-title {
		@include fzlh(40, 48);
		font-family: $font-title;
		font-weight: 400;
		margin-bottom: 30px;
		width: 80%;
	}
	.card-text {
		@include fzlh(18, 26);
		width: 95%;
		font-weight: 300;
		color: rgba($color: $text-color, $alpha: 0.6);
		margin-bottom: 32px;
	}
}

// =============================QUOTE SECTION STYLE===============================

.quote-section .container {
	padding: 100px 0 0 160px;
	height: 400px;
	background: url(../images/quote-background.webp) top left no-repeat;
	blockquote {
		position: relative;
		@include fzlh(32, 46);
		font-family: $font-text;
		font-weight: 400;
		letter-spacing: 1.28px;
		color: #fff;
		max-width: 710px;
		margin-bottom: 40px;
		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			top: -30px;
			left: -60px;
			width: 100px;
			height: 100px;
			background: url(../images/quote-icon.svg) top left no-repeat;	
		}
	}
	.author-quote {
		color: $text-color;
		@include fzlh(20,20);
		letter-spacing: 1.6px;
		font-style: italic;
		font-family: $font-title;
		font-weight: normal;
	}
}


// ==============================TABLET SECTION STYLE===============================

.video-section .container {
	max-width: 970px;
	margin: 120px auto;
	.video-tablet {
		border: 1px solid #515773;
		border-radius: 32px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 50px;
	}
	.tablet-cam {
		width: 13px;
		height: 13px;
		border-radius: 50%;
		border: 1px solid #515773;
		margin-left: 8px;
		margin-right: 9px;
	}
	.tablet-screen {
		flex-grow: 1;
		max-width: 870px;
		aspect-ratio: 870 / 549;
		margin:31px 0;
		position: relative;
		overflow: hidden;
		border-radius: 8px;
		& iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
	.tablet-btn {
		width: 35px;
		height: 35px;
		border: 1px solid #515773;
		border-radius: 50%;
		margin-right: 14px;
		margin-left: 21px;
	}
}

.tablet-content {
	h2 {
		@include fzlh(40,48);
		font-family: $font-title;
		font-weight: 400;
		color: $text-color;
		margin-bottom: 20px;
	}
	p {
		@include fzlh(18, 26);
		width: 90%;
		font-weight: 300;
		color: rgba($color: $text-color, $alpha: 0.6);
	}
}

// ===============================PROMISES SECTION STYLE===================================

// .promises {
// 	.container {
// 		display: flex;
// 		margin-bottom: 120px;
// 	}
// 	.promises-content-wrapper {
// 		position: relative;
// 		flex: 1;
// 		padding: 45px 0;
// 	}
// 	.promises-content {
// 		position: absolute;
// 		top: 10%;
// 		left: -120px;
// 		padding: 75px 0 75px 70px;
// 		max-width: 135%;
// 		background-color: rgba(22, 25, 38, 0.9);
// 	}
// 	.promises-list {
// 		display: grid;
// 		grid-template-columns: 1fr 1fr;
// 		column-gap: 100px;
// 		row-gap: 70px;
// 	}
// 	.promises-item,.reviews {
// 		h2 {
// 			@include fzlh(24,48);
// 			font-family: $font-title;
// 			font-weight: 400;
// 			color: $text-color;
// 		}
// 		p {
// 			@include fzlh(18,26);
// 			font-family: $font-text;
// 			font-weight: 300;
// 			color: color-mix(in srgb, $text-color, transparent 60%);
// 		}
// 	}
// }

// .btn-big-wrap {
// 	cursor: pointer;
// 	max-width: 300px;
// 	min-width: 100px;
// 	height: 80px;
// 	border: 1px solid #515773;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	transition: all 0.3s ease;
// 	&:hover {
// 		border-color:$btn-color-medium ;
// 			a {color: $btn-color-medium;
// 			&::after {
// 				background-color: color-mix(in srgb, $btn-color-medium, transparent 70%);
// 			}
// 		}
// 	}
// }

// ==================================REVIEWS SECTION STYLE=================================

.reviews {
	.container {
		padding-bottom: 100px
	}
	h2 {
		@include fzlh(40,48);
		font-family: $font-title;
		font-weight: 400;
		color: $text-color;
		margin-bottom: 20px;
	}
	.reviews-text {
		@include fzlh(18, 26);
		max-width: 400px;
		font-weight: 300;
		color: rgba($color: $text-color, $alpha: 0.6);
		margin-bottom: 50px;
	}
	.reviews-list {
		display: flex;
		gap: 30px;
		align-items: stretch;
		li {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 40px 30px;
			// height: 340px;
			blockquote {
				@include fzlh(16, 26);
				max-width: 400px;
				font-weight: 400;
				color: rgba($color: $text-color, $alpha: 0.8);
				flex-grow: 1;
				margin-bottom: 20px;
			}
		}
		li:first-of-type {
			flex-grow: 1;
			background: linear-gradient(to top, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
			 url(../images/card-burge.webp) center center no-repeat;
			width: 100%;
			height: auto;
		}
		li:nth-child(2) {
			flex-grow: 1;
			background: linear-gradient(to top, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
			url(../images/card-prosse.webp) center center no-repeat;
			width: 100%;
			height: auto;
		}
		li:nth-child(3) {
			flex-grow: 1;
			background: linear-gradient(to top, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
			url(../images/card-mooney.webp) center center no-repeat;
			width: 100%;
			height: auto;
		}
			p {
			color: $text-color;
			@include fzlh(20,20);
			letter-spacing: 1.6px;
			font-style: italic;
			font-family: $font-title;
			font-weight: normal;
			margin-top: auto;
		}
	}
}


// ===============================CONTACTS SECTION STYLE======================================

.contacts .container {
	display: flex;
	justify-content: space-between;
	gap: 230px;
	margin-bottom: 100px;
	.title-wrap, .form-wrap {
		flex: 1 50%;
	}
	.title-wrap {
		h2 {
			@include fzlh(40,39);
			font-family: $font-title;
			font-weight: 400;
			color: $text-color;
			margin-bottom: 30px;
		}
		p {
			@include fzlh(18, 26);
			max-width: 470px;
			font-weight: 300;
			color: rgba($color: $text-color, $alpha: 0.6);
			margin-bottom: 50px;
			span {
				display: block;
			}
		}
	}
}

.did-floating-label-content { 
  position:relative; 
  margin-bottom:40px; 
}
.did-floating-label {
	color:color-mix(in srgb, $text-color, transparent 60%); 
	@include fzlh(18,20);
	font-family: $font-title;
	font-style: italic;
	letter-spacing: 1.6px;
	position:absolute;
	pointer-events:none;
	top:3px;
	transition:0.2s ease all; 
}
.did-floating-input {
	border: none;
	font-size: 1rem;
	font-family: $font-text;
	display:block;
	width:100%;
	height:36px;
	background: transparent;
  	color: color-mix(in srgb, $text-color, transparent 60%);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  &:focus{
    outline:none;
    ~ .did-floating-label{
      top:-12px;
      font-size:0.7rem;
    }
  }
}
textarea {
	padding-top: 8px;
}

.did-floating-input:not(:placeholder-shown) ~ .did-floating-label {
  top:-8px;
  font-size:0.7rem;
}
.did-floating-select:not([value=""]):valid ~ .did-floating-label {
  top:-8px;
  font-size:0.7rem;
}
.did-floating-select[value=""]:focus ~ .did-floating-label {
  top:11px;
  font-size:13px;
}


// =================================FOOTER STYLE=========================================

footer {
	height: 80px;
	.container {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-top: 1px solid #515773;
	}
	.footer-rights,.footer-made-by {
		@include fzlh(14,26);
		font-family: $font-text;
		font-weight: 300;
		color: color-mix(in srgb, $text-color, transparent 60%);
	}

	.footer-made-by span {
		font-weight: 400;
		letter-spacing: 1.2px;
		color: #FFF;
	}

	 ul {
		display: flex;
		gap: 32px;
		a {
			position: relative;
			width: 100%;
			color: $text-color;
			letter-spacing: 1.12px;
			@include fzlh(14, 24);
			font-family: $font-text;
			font-weight: 400;
			&::after {
				content: "";
				display: inline-block;
				width: 100%;
				height: 3px;
				bottom: -10px;
				left: 0;
				position: absolute;
				background-color: color-mix(
					in srgb,
					$btn-color-light,
					transparent 30%
				);
				transform: translateX(-50%) scaleX(0);
				transition: all 0.4s ease;
			}
		}
		li:hover > a::after {
			transform: translateX(0%) scaleX(1);
			}
	 }
}



